<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Blogs</title>
  <link rel="stylesheet" href="/styling/main.css">
</head>
<body>
  <div class="navBar">
    <div class="navBtn" id="home">
      <a class="navBt" href="/">
        Blogs
      </a>
    </div>
    <div class="navBtn" id="new">
      <a class="navBt" href="/new">
        Write New
      </a>
    </div>
  </div>